@import '../../../app.scss';
.login-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 0px;
  padding: 50px 100px;
 
  @include tablet{
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  padding: 30px;
  place-items: center;
  }
  .login-image{
   display: flex;
   align-items: center;
   justify-content: center;
     @include tablet{
      display: none;
    }
    .LoginImage-wrap{
      
      h1{
        text-align: center;
        position: relative;
        font-size: 3rem;
        overflow: hidden;
        color: $font-gray;
        font-family: $TitilliumWeb-Regular;
        font-weight: 600;
        transition-delay: 10s;
      }
      
      h1::before{
        content: '';
        position: absolute;
        left: 120%;
        width: 120%;
        height: 100%;
        background: linear-gradient(90deg, transparent 0%, white, 5%, white 100%);
        // animation: textAnimate 10s linear infinite forwards;
        animation: textAnimate 10s;
        
      }
      @keyframes textAnimate {
        0%{
          left: -20%;
        }
        50%{
          left: 120%;
        }
        100%{
          // left: -20%;
        }
      }
    }
  }
  .login-section{
   display: flex;
   gap: 50px;
   flex-direction: column;
   
    @include tablet{
      width: 50%;
    }
    @include mobile{
      width: 100%;
    }
    .login-wrap{
      background-color: $White;
      border-radius: 10px;
      box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
      padding: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: 2s;
      
      .loginText-wrap{
        text-align: center;
        padding: 10px 0;
        width: 60%;
        h1{
          font-size: 2rem;
          font-family: $TitilliumWeb-Regular;
          font-weight: 600;
          color: $black;
          color: $font-gray;
          transition: 1s;
        }
      }
      .email-wrap{
        padding-top: 20px;
        width: 70%;
        @include midmobile{
          width: 100%;
      }
        p{
          transition: 1s;
          color: $font-gray;
          font-family: $TitilliumWeb-Regular;
          font-size: 1rem;
          margin-bottom: 5px;
          font-weight: 600;
        }
        input{
        
          width: 100%;
          border: 1px solid $font-gray;
          border-radius: 10px;
          padding: 15px 20px;
          position: relative;
        }
        .yourpass-hide{
          display: flex;
          justify-content: space-between;
          p{
            margin-bottom: 5px;
          }
        }
        .hide-wrap{
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 10px;
          
       
        }
        .inpotbox{
          position: relative;
          input{
           
            width: 100%;
            border: 1px solid $font-gray;
            border-radius: 10px;
            padding: 15px 20px;
            position: relative;
          }
          .eyeImage{ 
            position: absolute;
            top: 10px;
            right: 10px; 
          }
        }
      }
      .login-btn-wrap{
        width: 70%;
        @include midmobile{
          width: 100%;
      }
       .login-btn{
        width: 100%;
        cursor: pointer;
        padding: 10px;
        border: none;
        background-color:$orange-color;
        color: $White;
        font-family: $TitilliumWeb-Regular;
        font-size: 1rem;
        border-radius: 50px;
        margin-top: 20px;
        font-weight: 600;
       }
      }
     
      
    }
    .login-wrap:hover{
      background-color:$ofWhite ;
      box-shadow: none;
    }
    .login-wrap:hover > .loginText-wrap h1{
     color: $black;
    }
    .login-wrap:hover > .email-wrap p{
      color: $black;
    }
 
    
  }
 
  .dontHaveAcccount-wrap{
    transition: 2s;
    width: 100%;
    background-color: $White;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    padding: 40px;
    cursor: pointer;
    p{
      text-align: center;
      font-size: 1rem;
      font-family: $TitilliumWeb-Regular;
      font-weight: 600;
      color: $font-gray;
      transition: 1s;
    }
  }
  .dontHaveAcccount-wrap:hover{
    background-color: $ofWhite;
    box-shadow: none;
    
  }
  .dontHaveAcccount-wrap:hover > p{
    color: $black;
   
  }
  

}